.city {
    width: min(35rem, 90vw);
    min-width: 21rem;
    height: auto;

    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    position: relative;

    background: linear-gradient(90deg, rgba(24,94,56,1) 0%, rgba(34,124,87,1) 100%);
    border: 0.15rem solid #468964;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.city__icon {
    position: absolute;
    right: 0;
    top:0;
    transform: translateY(-1.2rem);
}

.city__weather {
    padding-left: 1rem;
    margin: 2rem 0;
    font-weight: 600;
}

.city__info {
    display: flex;
    align-items: center;
    margin: auto;
    font-weight: 600;
}

.city__temp {
    border-right: 0.15rem solid rgba(181, 181, 181, 0.5);
    font-size: 3rem;
    padding-right: 1rem;
    margin: 0;
}

.city__info__current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.city__date {
    margin: 0;
}

.city__name {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    margin: 0;
    font-weight: 600;
    gap: 0.3rem;
}

.city__icon__location {
    height: 1rem;
    width: 1rem;
    filter: invert(100%);
}

.city .parameter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

.city .parameter__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(rgba(34,124,87,1) 0%, rgba(24,94,56,1) 100%);
    width: 6rem;
    padding: 0.3rem 1rem;
    margin: auto;
    border: 0.15rem solid #468964;
    border-radius: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.city .parameter__value {
    font-weight: 600;
}

.city .parameter__label {
    font-weight: 300;
    font-size: 0.7rem;
}